{{ 'component-product-features.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
      --title-color: {{ section.settings.color_title }};
      --text-color: {{ section.settings.color_text }};
      --icon-color: {{ section.settings.color_icon }};
      --bg-color: {{ section.settings.bg_color }};
      --title-size: {{ section.settings.title_size_mb }}px;
      --text-size: {{ section.settings.text_size_mb }}px;
      --icon-size: {{ section.settings.icon_size }}px;
  }

  @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
          padding-top: {{ section.settings.padding_top }}px;
          padding-bottom: {{ section.settings.padding_bottom }}px;
          --title-size-desktop: {{ section.settings.title_size }}px;
          --text-size-desktop: {{ section.settings.text_size }}px;
      }
  }
{%- endstyle -%}

{%- assign features = product.metafields.custom.product_features.value -%}
{%- assign features_image = product.metafields.custom.features_image.value -%}
{%- assign show_section = false -%}
{%- if features != blank or section.blocks.size > 0 -%}
  {%- assign show_section = true -%}
{%- elsif request.design_mode -%}
  {%- assign show_section = true -%}
{%- endif -%}

{%- if show_section -%}
  <div class="product-features-highlight section-{{ section.id }}-padding">
    <div class="container">
      <div class="feature-grid">
        {%- comment -%} Determine split index for blocks/features {%- endcomment -%}
        {%- assign item_count = 0 -%}
        {%- if features != blank -%}
          {%- assign item_count = features.size -%}
        {%- else -%}
          {%- assign item_count = section.blocks.size -%}
        {%- endif -%}
        {%- assign half_count = item_count | divided_by: 2.0 | ceil -%}

        <div class="feature-items feature-col-left">
          {%- if features != blank -%}
            {%- for feature in features limit: half_count -%}
              <div class="feature-item">
                <div class="feature-item__icon">
                  {%- assign icon_img = feature.icon_image.value | default: feature.image.value -%}
                  {%- if icon_img != blank -%}
                    {{ icon_img | image_url: width: 100 | image_tag: loading: 'lazy' }}
                  {%- else -%}
                    {%- assign icon_val = feature.text.value
                      | default: feature.text
                      | default: feature.icon_svg.value
                      | default: feature.icon_svg
                      | default: feature.icon.value
                      | default: feature.icon
                    -%}
                    {{ icon_val }}
                  {%- endif -%}
                </div>
                <div class="feature-item__content">
                  <h3 class="feature-item__title">
                    {{
                      feature.title.value
                      | default: feature.title
                      | default: feature.nombre.value
                      | default: feature.nombre
                    }}
                  </h3>
                  {%- assign desc_obj = feature.description | default: feature.text | default: feature.texto -%}
                  <div class="feature-item__text">
                    {%- if desc_obj.value != blank -%}
                      {{ desc_obj | metafield_tag }}
                    {%- else -%}
                      {{ desc_obj }}
                    {%- endif -%}
                  </div>
                </div>
              </div>
            {%- endfor -%}
          {%- else -%}
            {%- for block in section.blocks limit: half_count -%}
              <div class="feature-item" {{ block.shopify_attributes }}>
                {%- assign feature = block.settings.feature -%}
                {%- if feature != blank -%}
                  <div class="feature-item__icon">
                    {%- assign icon_img = feature.icon_image.value | default: feature.image.value -%}
                    {%- if icon_img != blank -%}
                      {{ icon_img | image_url: width: 100 | image_tag: loading: 'lazy' }}
                    {%- else -%}
                      {%- assign icon_val = feature.text.value
                        | default: feature.text
                        | default: feature.icon_svg.value
                        | default: feature.icon_svg
                        | default: feature.icon.value
                        | default: feature.icon
                      -%}
                      {{ icon_val }}
                    {%- endif -%}
                  </div>
                  <div class="feature-item__content">
                    <h3 class="feature-item__title">
                      {{
                        feature.title.value
                        | default: feature.title
                        | default: feature.nombre.value
                        | default: feature.nombre
                        | default: 'Feature Title'
                      }}
                    </h3>
                    {%- assign desc_obj = feature.description | default: feature.text | default: feature.texto -%}
                    <div class="feature-item__text">
                      {%- if desc_obj.value != blank -%}
                        {{ desc_obj | metafield_tag }}
                      {%- else -%}
                        {{ desc_obj }}
                      {%- endif -%}
                    </div>
                  </div>
                {%- else -%}
                  <div class="feature-item__icon">
                    {%- if block.settings.icon_image != blank -%}
                      {{ block.settings.icon_image | image_url: width: 100 | image_tag: loading: 'lazy' }}
                    {%- elsif block.settings.icon_svg != blank -%}
                      {{ block.settings.icon_svg }}
                    {%- else -%}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- endif -%}
                  </div>
                  <div class="feature-item__content">
                    <h3 class="feature-item__title">{{ block.settings.title }}</h3>
                    <div class="feature-item__text">{{ block.settings.text }}</div>
                  </div>
                {%- endif -%}
              </div>
            {%- endfor -%}
          {%- endif -%}
        </div>

        <div class="feature-image">
          {%- assign main_image = features_image | default: section.settings.image -%}
          {%- if main_image != blank -%}
            {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
            {{
              main_image
              | image_url: width: 1500
              | image_tag:
                loading: 'lazy',
                sizes: '(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)',
                widths: widths
            }}
          {%- else -%}
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>

        <div class="feature-items feature-col-right">
          {%- if features != blank -%}
            {%- for feature in features offset: half_count -%}
              <div class="feature-item">
                <div class="feature-item__icon">
                  {%- assign icon_img = feature.icon_image.value | default: feature.image.value -%}
                  {%- if icon_img != blank -%}
                    {{ icon_img | image_url: width: 100 | image_tag: loading: 'lazy' }}
                  {%- else -%}
                    {%- assign icon_val = feature.text.value
                      | default: feature.text
                      | default: feature.icon_svg.value
                      | default: feature.icon_svg
                      | default: feature.icon.value
                      | default: feature.icon
                    -%}
                    {{ icon_val }}
                  {%- endif -%}
                </div>
                <div class="feature-item__content">
                  <h3 class="feature-item__title">
                    {{
                      feature.title.value
                      | default: feature.title
                      | default: feature.nombre.value
                      | default: feature.nombre
                    }}
                  </h3>
                  {%- assign desc_obj = feature.description | default: feature.text | default: feature.texto -%}
                  <div class="feature-item__text">
                    {%- if desc_obj.value != blank -%}
                      {{ desc_obj | metafield_tag }}
                    {%- else -%}
                      {{ desc_obj }}
                    {%- endif -%}
                  </div>
                </div>
              </div>
            {%- endfor -%}
          {%- else -%}
            {%- for block in section.blocks offset: half_count -%}
              <div class="feature-item" {{ block.shopify_attributes }}>
                {%- assign feature = block.settings.feature -%}
                {%- if feature != blank -%}
                  <div class="feature-item__icon">
                    {%- assign icon_img = feature.icon_image.value | default: feature.image.value -%}
                    {%- if icon_img != blank -%}
                      {{ icon_img | image_url: width: 100 | image_tag: loading: 'lazy' }}
                    {%- else -%}
                      {%- assign icon_val = feature.text.value
                        | default: feature.text
                        | default: feature.icon_svg.value
                        | default: feature.icon_svg
                        | default: feature.icon.value
                        | default: feature.icon
                      -%}
                      {{ icon_val }}
                    {%- endif -%}
                  </div>
                  <div class="feature-item__content">
                    <h3 class="feature-item__title">
                      {{
                        feature.title.value
                        | default: feature.title
                        | default: feature.nombre.value
                        | default: feature.nombre
                        | default: 'Feature Title'
                      }}
                    </h3>
                    {%- assign desc_obj = feature.description | default: feature.text | default: feature.texto -%}
                    <div class="feature-item__text">
                      {%- if desc_obj.value != blank -%}
                        {{ desc_obj | metafield_tag }}
                      {%- else -%}
                        {{ desc_obj }}
                      {%- endif -%}
                    </div>
                  </div>
                {%- else -%}
                  <div class="feature-item__icon">
                    {%- if block.settings.icon_image != blank -%}
                      {{ block.settings.icon_image | image_url: width: 100 | image_tag: loading: 'lazy' }}
                    {%- elsif block.settings.icon_svg != blank -%}
                      {{ block.settings.icon_svg }}
                    {%- else -%}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- endif -%}
                  </div>
                  <div class="feature-item__content">
                    <h3 class="feature-item__title">{{ block.settings.title }}</h3>
                    <div class="feature-item__text">{{ block.settings.text }}</div>
                  </div>
                {%- endif -%}
              </div>
            {%- endfor -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Product Features",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Main Image"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Title Color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text Color",
      "default": "#666666"
    },
    {
      "type": "color",
      "id": "color_icon",
      "label": "Icon Color",
      "default": "#7F48B0"
    },
    {
      "type": "range",
      "id": "icon_size",
      "min": 20,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Icon Size",
      "default": 50
    },
    {
      "type": "range",
      "id": "title_size",
      "min": 12,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Title Size (Desktop)",
      "default": 18
    },
    {
      "type": "range",
      "id": "text_size",
      "min": 10,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Text Size (Desktop)",
      "default": 14
    },
    {
      "type": "range",
      "id": "title_size_mb",
      "min": 10,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Title Size (Mobile)",
      "default": 16
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top Padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "limit": 6,
      "settings": [
        {
          "type": "metaobject",
          "id": "feature",
          "label": "Feature Entry (Automatic)",
          "metaobject_type": "product_feature",
          "info": "Picking an entry here will automatically populate Icon, Title, and Text."
        },
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Icon Image",
          "info": "Upload a PNG or SVG file."
        },
        {
          "type": "textarea",
          "id": "icon_svg",
          "label": "Manual SVG Icon Code",
          "info": "Used only if no image is selected above."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Manual Title",
          "default": "Feature Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Manual Description",
          "default": "<p>Description of the feature.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Features Highlight",
      "blocks": [
        {
          "type": "feature",
          "settings": {
            "title": "Safety Technology",
            "text": "<p>Anti-scratch blade designed to protect skin.</p>"
          }
        },
        {
          "type": "feature",
          "settings": {
            "title": "Long Battery",
            "text": "<p>Up to 80 minutes of usage on a full charge.</p>"
          }
        },
        {
          "type": "feature",
          "settings": {
            "title": "Digital Display",
            "text": "<p>Real-time battery level and mode indicator.</p>"
          }
        },
        {
          "type": "feature",
          "settings": {
            "title": "Wet & Dry",
            "text": "<p>Adaptable for different routines.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
